<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Drone</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
    
    <%- include('partials/homeHeader') %>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="drone-tail">
                <div class="masthead-heading text-uppercase">Hello !!</div>
                <ul><a class="btn btn-primary btn-xl text-uppercase" href="/signup"
                        style="width:200px;height:55px;">sign up ></a></ul>
                <ul><a class="btn btn-primary btn-xl text-uppercase" href="/signin"
                        style="width:200px;height:55px;">sign in ></a></ul>
                <ul><a class="btn btn-primary btn-xl text-uppercase" href="/learnmore"
                        style="width:200px;height:55px;">Learn more ></a></ul>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="drone-item">
                        <div class="mb-3">
                            <span>Best seller accessory</span>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <img class="img-fluid" style="border-radius: 10px;" src="assets/img/portfolio/7.jpg"
                                    alt="..." />
                            </div>
                            <div class="col-md-6">
                                <p class="text-start">Name: </p>
                                <p class="text-start">Price: </p>
                                <div class="mt-3 text-end">
                                    <a href="/" class="btn btn-gray">Buy now ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="drone-item">
                        <div class="mb-4">
                            <span>Best seller accessory</span>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <img class="img-fluid" style="border-radius: 10px;" src="assets/img/portfolio/8.jpg"
                                    alt="..." />
                            </div>
                            <div class="col-md-6">
                                <p class="text-start">Name: </p>
                                <p class="text-start">Price: </p>
                                <div class="mt-3 text-end">
                                    <a href="/" class="btn btn-gray">Buy now ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="drone-item">
                        <div class="mb-3">
                            <span>Best seller accessory</span>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <img class="img-fluid" style="border-radius: 10px;" src="assets/img/portfolio/9.jpg"
                                    alt="..." />
                            </div>
                            <div class="col-md-6">
                                <p class="text-start">Name: </p>
                                <p class="text-start">Price: </p>
                                <div class="mt-3 text-end">
                                    <a href="/" class="btn btn-gray">Buy now ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/footer') %>
    </header>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>